@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --btn-width: 50px;
}

body {
  font-size: 18px;
  font-family: Inter, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 100dvh;

  align-items: center;
  justify-content: center;
}

.calculator {
  display: grid;

  grid-template-columns: var(--btn-width) var(--btn-width) var(--btn-width) var(
      --btn-width
    );
  grid-template-rows:
    var(--btn-width) var(--btn-width) var(--btn-width) var(--btn-width)
    var(--btn-width) var(--btn-width) var(--btn-width) var(--btn-width);

  background: gainsboro;

  padding: 20px 20px;
}

h1 {
  font-size: 0.5rem;
  margin: 24px 0;

  text-align: center;

  column-span: 1/-1;
  grid-row: 1;
}

.screen {
  column-span: 1/-1;
  grid-row: 2;

  display: flex;

  align-items: center;
  justify-content: center;

  height: calc(var(--btn-width) * 2);
  background-color: black;

  /* margin: 20px 5px; */
}

.screen__inner {
  background-color: white;
  height: 70%;
  width: 80%;
}

.buttons {
  display: grid;
  display: none;
}

.buttons__operators--horizontal {
  display: flex;
}

.buttons__operators--vertical {
  display: flex;
  flex-direction: column;
}

.buttons__grey-buttons {
  display: grid;

  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto auto auto auto;

  gap: 10px 5px;
}

.btn--grey {
  background: grey;
}

.btn--orange {
  background: orange;
}

.btn {
  width: var(--btn-width);
  aspect-ratio: 1/1;

  border-radius: 7px;
  border: 0;

  font-size: 1.25rem;
}
